<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <%= @user.avatar %>
    </div>
    <div class="col-md-4">
      <h3><%= @user.name %></h3>
      <p>Email: <%= @user.email %></p>
      <p>Intro: <%= @user.intro %></p>
    </div>
  </div>
</div>
